@model MVC5_PROJECT.ModelView.CustomerViewModel

@{
    ViewBag.Title = "Customer_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer_List</h2>

@{
        WebGrid obj = new WebGrid(Model.Cust_List);
    }

    @obj.GetHtml()
