USE [master]
GO
/****** Object:  Database [MVCDB]    Script Date: 19/01/2017 19:29:05 ******/
CREATE DATABASE [MVCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MVCDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MVCDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 19/01/2017 19:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Email] [nvarchar](100) NOT NULL,
	[PW] [nvarchar](15) NOT NULL,
	[FName] [nvarchar](30) NOT NULL,
	[LName] [nvarchar](30) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 19/01/2017 19:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 19/01/2017 19:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Supplier_Price] [float] NOT NULL,
	[Pic_URL] [nvarchar](max) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sells]    Script Date: 19/01/2017 19:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sells](
	[Product_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Sells_1] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/01/2017 19:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Email] [nvarchar](100) NOT NULL,
	[PW] [nvarchar](15) NOT NULL,
	[Manager] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Email], [PW], [FName], [LName], [ID]) VALUES (N'aa@aa.aa', N'aaaaaa', N'test', N'test', 4)
INSERT [dbo].[Customers] ([Email], [PW], [FName], [LName], [ID]) VALUES (N'b@bb.bb', N'bbbbbb', N'bb', N'bbb', 1004)
INSERT [dbo].[Customers] ([Email], [PW], [FName], [LName], [ID]) VALUES (N'cc@cc.cc', N'cccccc', N'cc', N'ccc', 1005)
SET IDENTITY_INSERT [dbo].[Customers] OFF
INSERT [dbo].[Manufacturers] ([Manufacturer], [Phone]) VALUES (N'Garnier', N'052-6778899')
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Name], [Description], [Manufacturer], [Amount], [Price], [Supplier_Price], [Pic_URL], [ID]) VALUES (N'day cream', N'nordic essentials', N'garnier', 5, 79.9, 20, N'http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=56955246', 7)
INSERT [dbo].[Products] ([Name], [Description], [Manufacturer], [Amount], [Price], [Supplier_Price], [Pic_URL], [ID]) VALUES (N'face cream', N'crema aclaradora', N'pond''s', 15, 29.9, 10, N'http://i.ebayimg.com/00/s/NTI1WDUwMA==/z/HlUAAOSwv0tVDA96/$_32.JPG', 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Sells] ON 

INSERT [dbo].[Sells] ([Product_ID], [Customer_ID], [Price], [PurchaseID]) VALUES (2, 1005, 29.9, 1)
INSERT [dbo].[Sells] ([Product_ID], [Customer_ID], [Price], [PurchaseID]) VALUES (9, 0, 10, 2)
INSERT [dbo].[Sells] ([Product_ID], [Customer_ID], [Price], [PurchaseID]) VALUES (2, 1019, 29.9, 3)
SET IDENTITY_INSERT [dbo].[Sells] OFF
INSERT [dbo].[Users] ([Email], [PW], [Manager]) VALUES (N'aa@aa.aa', N'aaaaaa', 0)
INSERT [dbo].[Users] ([Email], [PW], [Manager]) VALUES (N'b@bb.bb', N'bbbbbb', 0)
INSERT [dbo].[Users] ([Email], [PW], [Manager]) VALUES (N'cc@cc.cc', N'cccccc', 0)
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Pic_URL]  DEFAULT (N'http://www.gradscloud.com/assets/images/not_available.jpg') FOR [Pic_URL]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Manager]  DEFAULT ((0)) FOR [Manager]
GO
USE [master]
GO
