@model MVC5_PROJECT.Models.ViewModel_Product_Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowProduct</title>
</head>
<body>
    <div> 

        <b> Wellcome @Model.cust.FName </b>
        <br />
        Product Name : @Model.prod.Name

    </div>
</body>
</html>
